::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial; }

html,
body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  -ms-overflow-style: hidden;
  scrollbar-width: none;
  background-color: #fff;
  scroll-behavior: smooth; }

body::-webkit-scrollbar {
  display: none; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px; }

#page-container {
  position: relative;
  min-height: 100vh; }

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  justify-content: center;
  align-items: center;
  display: none; }

.header {
  width: 100%;
  box-sizing: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  font-size: 16px;
  position: relative;
  background-color: #fff;
  z-index: 10; }
  .header p {
    margin-bottom: 0px; }
  .header__phoneStrip {
    width: 100%;
    background-color: #323D49;
    padding: 12px 0px 12px 0px; }
    .header__phoneStrip__holder {
      width: 85%;
      max-width: 1920px;
      margin: auto; }
      .header__phoneStrip__holder__info {
        font-size: 1em;
        font-weight: bold;
        color: #fff; }
  .header__logoCompany {
    background-color: #fff;
    width: 100%;
    padding: 17px 0px 17px 0px; }
    .header__logoCompany__holder {
      width: 85%;
      max-width: 1920px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .header__logoCompany__holder__imageText {
        display: flex;
        align-items: center;
        justify-content: start; }
        .header__logoCompany__holder__imageText img {
          margin-right: 25px;
          width: 100px; }
        .header__logoCompany__holder__imageText p {
          margin-bottom: 0px;
          font-size: 1.2em;
          font-weight: bold; }
      .header__logoCompany__holder__pageSearch {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        border: #707070 solid 2px;
        height: 30px;
        transition: all .5s; }
        .header__logoCompany__holder__pageSearch input {
          width: 225px;
          padding: 5px;
          border-radius: 50px 0px 0px 50px;
          border: none; }
        .header__logoCompany__holder__pageSearch img {
          margin-right: 15px; }
        .header__logoCompany__holder__pageSearch img:hover {
          cursor: pointer; }
      .header__logoCompany__holder__pageSearch:hover {
        border-color: #309C49; }
  .header__nav {
    width: 100%;
    background-color: #309C49;
    font-size: 17px; }
    .header__nav__holder {
      color: #fff;
      width: 85%;
      max-width: 1920px;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .header__nav__holder ul {
        display: flex;
        align-items: center; }
        .header__nav__holder ul span {
          font-size: 1.5em; }
        .header__nav__holder ul a {
          padding: 9px 17px 9px 17px;
          text-decoration: none;
          color: #fff;
          position: relative;
          z-index: 1;
          display: flex;
          align-items: center;
          justify-content: center; }
        .header__nav__holder ul a:after,
        .header__nav__holder ul a:before {
          transition: all .5s; }
        .header__nav__holder ul a:after {
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          width: 0%;
          content: '';
          color: transparent;
          background-color: #E5B700;
          height: 4px;
          position: absolute; }
        .header__nav__holder ul a:hover:after {
          width: 100%; }
  .header__mobile {
    display: none; }

.mobNav {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 100%;
  height: calc(100vh - 120px);
  top: -100vh;
  background-color: #fff;
  z-index: 7;
  transition: top .8s ease-in-out; }

@media only screen and (max-width: 930px) {
  .header {
    padding: 15px 0px 15px 0px;
    border-bottom: 5px solid #309C49; }
    .header__phoneStrip {
      display: none; }
    .header__logoCompany {
      display: none; }
    .header__nav {
      display: none; }
    .header__mobile {
      display: flex;
      align-items: center;
      position: relative;
      background-color: #fff; }
      .header__mobile button {
        color: #707070;
        position: absolute;
        width: 60px;
        height: 50px;
        padding: 0px;
        margin-left: 2.5%; }
        .header__mobile button .hamburger-inner,
        .header__mobile button .hamburger-inner::before,
        .header__mobile button .hamburger-inner::after {
          color: #707070;
          width: 35px; }
      .header__mobile h1 {
        margin: auto;
        text-align: center;
        padding: 0%;
        font-size: 1.625em; }
  .mobNav {
    display: flex;
    font-size: 16px; }
    .mobNav__welcome {
      width: 100%;
      background-color: #f0f0f0;
      border-bottom: #707070 solid 5px; }
      .mobNav__welcome h1 {
        margin-bottom: 0px;
        padding: 15px 0px 15px 2.5%;
        font-size: 1.5em; }
    .mobNav__options {
      width: 100%; }
      .mobNav__options ul {
        width: 100%; }
        .mobNav__options ul a {
          width: 100%;
          color: black;
          display: inline-block;
          margin: 10px 0px 10px 2.5%;
          font-size: 1.2em;
          text-decoration: none; }
          .mobNav__options ul a::after {
            content: ">";
            position: absolute;
            right: 20px;
            font-size: 14px; }
        .mobNav__options ul hr {
          height: 4px;
          background-color: #309C49;
          border: none; }
    .mobNav__footers {
      display: flex;
      width: 100%;
      position: absolute;
      bottom: 0;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .mobNav__footers a img {
        width: 36px;
        margin-bottom: 8px; }
      .mobNav__footers hr {
        width: 100%;
        border: none;
        height: 3px;
        background-color: #309C49; }
      .mobNav__footers__company {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 20px 0px 20px 0px; }
        .mobNav__footers__company img {
          width: 55px;
          height: 28px; }
        .mobNav__footers__company h1 {
          color: black;
          font-size: 1em;
          margin-left: 15px;
          margin-bottom: 0px;
          line-height: 28px; } }

.mainBody {
  width: 100%;
  position: relative;
  z-index: 0;
  font-size: 16px;
  color: black; }
  .mainBody__hero {
    width: 100%;
    min-height: 625px;
    position: relative;
    display: flex;
    align-items: center;
    overflow-x: hidden; }
    .mainBody__hero__slidesAnimated {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0%;
      left: 0%;
      display: flex;
      transition: left 1.2s ease-in-out; }
      .mainBody__hero__slidesAnimated__slide {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        position: absolute;
        display: block;
        z-index: 0; }
      .mainBody__hero__slidesAnimated__slide:nth-child(2) {
        left: 100%; }
      .mainBody__hero__slidesAnimated__slide:nth-child(3) {
        left: 200%; }
    .mainBody__hero .active {
      background-color: #717171; }
    .mainBody__hero__info {
      z-index: 1;
      padding: 0px 20px 0px 20px;
      width: 85%;
      max-width: 1920px;
      height: 100%;
      margin: auto;
      position: relative; }
      .mainBody__hero__info h1 {
        color: #fff;
        font-size: 2.8125em;
        margin-bottom: 50px; }
      .mainBody__hero__info p {
        width: 65%;
        color: #fff;
        font-size: 1.1875em; }
  .mainBody__mobileInfo {
    display: none; }
  .mainBody__asphalt {
    width: 85%;
    max-width: 1920px;
    min-height: 350px;
    margin: 100px auto 75px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #707070; }
    .mainBody__asphalt__info {
      width: 45%;
      padding: 23px; }
      .mainBody__asphalt__info h1 {
        font-weight: bold;
        margin-bottom: 0px;
        font-size: 1.75em; }
      .mainBody__asphalt__info hr {
        margin-top: 5px;
        background-color: #309C49;
        border: none;
        width: 400px;
        height: 3px; }
      .mainBody__asphalt__info p {
        margin-top: 15px;
        font-size: 1.25em;
        width: 100%; }
    .mainBody__asphalt__image {
      width: 55%;
      display: flex;
      justify-content: center; }
      .mainBody__asphalt__image img {
        width: 435px;
        margin: auto;
        border-radius: 15px;
        transform: perspective(450px) rotateY(-8deg);
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; }
  .mainBody__awards {
    width: 100%;
    min-width: 1350px;
    max-width: 1920px;
    color: #707070;
    margin: 125px auto 25px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .mainBody__awards h1 {
      font-weight: bold;
      margin-bottom: 0px;
      font-size: 1.75em;
      text-align: center; }
    .mainBody__awards hr {
      margin: 6px auto 5px auto;
      background-color: #309C49;
      border: none;
      height: 3px;
      width: 360px;
      text-align: center; }
    .mainBody__awards__listings {
      margin: 80px auto 0px auto;
      width: 75%; }
      .mainBody__awards__listings h1 {
        font-size: 2.5em; }
      .mainBody__awards__listings p {
        font-size: 1.875em; }
      .mainBody__awards__listings__distingishedPartner {
        display: flex;
        justify-content: space-between;
        margin-bottom: 150px; }
        .mainBody__awards__listings__distingishedPartner img {
          display: block;
          width: 350px;
          border-radius: 25px;
          transform: perspective(450px) rotateY(8deg);
          box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; }
      .mainBody__awards__listings__distingishedPartner:nth-child(2) img {
        transform: perspective(450px) rotateY(-8deg); }

@media only screen and (max-width: 930px) {
  .mainBody__hero {
    min-height: 325px;
    align-items: end;
    justify-content: flex-end; }
    .mainBody__hero__info {
      width: 100%;
      margin: 0px;
      padding: 0px; }
      .mainBody__hero__info h1 {
        margin: 0px auto 20px 5%; }
      .mainBody__hero__info p {
        display: none; }
  .mainBody__mobileInfo {
    display: block;
    width: 100%; }
    .mainBody__mobileInfo p {
      width: 100%;
      padding: 25px 5% 0px 5%; }
  .mainBody__asphalt {
    width: 100%;
    min-height: 0px;
    margin: 0px;
    position: relative;
    flex-direction: column;
    padding: 30px 5% 0px 5%; }
    .mainBody__asphalt__info {
      width: 100%;
      padding: 0px; }
      .mainBody__asphalt__info p {
        margin-top: 375px; }
      .mainBody__asphalt__info hr {
        width: 375px; }
    .mainBody__asphalt__image {
      position: absolute;
      display: block;
      width: 100%;
      top: 0; }
      .mainBody__asphalt__image img {
        width: 435px;
        transform: none;
        display: block;
        margin: 100px auto 0px auto; }
  .mainBody__awards {
    width: 100%;
    min-width: 0px;
    padding: 30px 5% 30px 5%;
    margin: 0px 0px 10px 0px; }
    .mainBody__awards__listings {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin: 35px 0px 35px 0px; }
      .mainBody__awards__listings h1 {
        font-size: 2em; }
      .mainBody__awards__listings p {
        font-size: 1.5em; }
      .mainBody__awards__listings__distingishedPartner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        margin: 30px 0px 50px 0px; }
        .mainBody__awards__listings__distingishedPartner:first-child, .mainBody__awards__listings__distingishedPartner:last-child {
          flex-direction: column-reverse; }
        .mainBody__awards__listings__distingishedPartner img {
          margin: auto;
          transform: none !important;
          width: 300px;
          margin-top: 30px; } }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #323D49;
  border: none;
  border-top: 5px solid #309C49;
  font-size: 16px; }
  .footer__holder {
    width: 85%;
    max-width: 1920px;
    margin: auto; }
    .footer__holder__top {
      height: 54px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      margin: 0px 3px 0px 3px; }
      .footer__holder__top img {
        display: flex;
        align-items: center; }
      .footer__holder__top p {
        text-align: center;
        font-size: .875em;
        margin-bottom: 0px;
        display: flex;
        align-items: center; }
      .footer__holder__top p:hover {
        cursor: pointer; }
    .footer__holder__hr {
      height: 3px;
      background-color: #fff; }
    .footer__holder__bottom {
      min-height: 70px;
      display: flex;
      justify-content: space-between;
      color: #fff;
      margin-top: 13px;
      margin-bottom: 13px; }
      .footer__holder__bottom__holderForLogoName {
        display: flex;
        justify-content: flex-start;
        align-items: center; }
        .footer__holder__bottom__holderForLogoName img {
          margin-right: 25px; }
        .footer__holder__bottom__holderForLogoName p {
          margin-bottom: 0px;
          font-size: 1.05em; }
      .footer__holder__bottom__mobilehr {
        display: none; }
      .footer__holder__bottom__copyrightInformation {
        font-size: .8em;
        display: flex;
        align-items: center;
        margin-bottom: 0px; }

@media only screen and (max-width: 930px) {
  .footer__holder {
    width: 100%; }
    .footer__holder__top {
      justify-content: center;
      height: auto;
      padding: 13px 0px 13px 0px; }
      .footer__holder__top__socials {
        display: none; }
    .footer__holder__bottom {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .footer__holder__bottom__holderForLogoName {
        width: 100%;
        max-width: 1920px;
        margin: 0px auto 13px auto; }
        .footer__holder__bottom__holderForLogoName img {
          margin-left: 3%;
          width: 60px; }
        .footer__holder__bottom__holderForLogoName p {
          font-size: 1em; }
      .footer__holder__bottom__mobilehr {
        display: flex;
        height: 3px;
        background-color: #fff;
        width: 100%; }
      .footer__holder__bottom__copyrightInformation {
        margin-top: 13px; } }
