.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $darkBlueGreen;
    border: none;
    border-top: 5px solid $green;
    font-size: 16px;

    &__holder {
        width: 85%;
        max-width: 1920px;
        margin: auto;

        &__top {
            height: 54px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $white;
            margin: 0px 3px 0px 3px;

            img {
                display: flex;
                align-items: center;
            }

            p {
                text-align: center;
                font-size: .875em;
                margin-bottom: 0px;
                display: flex;
                align-items: center;
            }

            p:hover {
                cursor: pointer;
            }
        }

        &__hr {
            height: 3px;
            background-color: $white;
        }

        &__bottom {
            min-height: 70px;
            display: flex;
            justify-content: space-between;
            color: $white;
            margin-top: 13px;
            margin-bottom: 13px;

            &__holderForLogoName {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                img {
                    margin-right: 25px;
                }

                p {
                    margin-bottom: 0px;
                    font-size: 1.05em;
                }
            }

            &__mobilehr {
                display: none;
            }

            &__copyrightInformation {
                font-size: .8em;
                display: flex;
                align-items: center;
                margin-bottom: 0px;
            }
        }
    }
}

@media only screen and (max-width: 1600px) {
    .footer {
        &__holder {
            &__top {
                img {}

                p {
                    &:hover {}
                }
            }

            &__hr {}

            &__bottom {
                min-height: 60px;
            }
        }
    }
}

@media only screen and (max-width: 1280px) {
    .footer {
        &__holder {
            width: 100%;
            padding: 0px 5% 0px 5%;

            &__top {
                img {}

                p {
                    &:hover {}
                }
            }

            &__hr {}

            &__bottom {
                min-height: 40px;

                &__holderForLogoName {
                    img {
                        width: 70px;
                        margin-right: 17.5px;
                    }

                    p {
                        font-size: .95em;
                    }
                }

                &__copyrightInformation {
                    font-size: .75em;
                }
            }
        }
    }
}

@media only screen and (max-width: 930px) {
    .footer {
        &__holder {
            width: 100%;
            padding: 0px;

            &__top {
                justify-content: center;
                height: auto;
                padding: 13px 0px 13px 0px;

                &__socials {
                    display: none;
                }
            }

            &__bottom {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                &__holderForLogoName {
                    width: 100%;
                    max-width: 1920px;
                    margin: 0px auto 13px auto;

                    img {
                        margin-left: 3%;
                        width: 60px;
                    }

                    p {
                        font-size: 1em;
                    }
                }

                &__mobilehr {
                    display: flex;
                    height: 3px;
                    background-color: $white;
                    width: 100%;
                }

                &__copyrightInformation {
                    margin-top: 13px;
                }
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    .footer {
        &__holder {
            &__top {
                &__socials {}
            }

            &__bottom {
                &__holderForLogoName {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 50px;
                    }

                    p {
                        font-size: .9em;
                    }
                }

                &__mobilehr {}

                &__copyrightInformation {}
            }
        }
    }
}

@media only screen and (max-width: 450px) {
    .footer {
        &__holder {
            &__top {
                &__socials {}
            }

            &__bottom {
                &__holderForLogoName {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 50px;
                    }

                    p {
                        font-size: .9em;
                    }
                }

                &__mobilehr {}

                &__copyrightInformation {
                    text-align: center;
                }
            }
        }
    }
}