.mainBodyAboutUs {
    width: 100%;
    position: relative;
    z-index: 0;
    color: #707070;

    &__hero {
        width: 100%;
        height: 625px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__content {
        width: 85%;
        margin: auto;

        &__imgCaption {
            margin-top: 15px;
        }

        &__aboutTheCompany {
            margin-bottom: 50px;

            &__header {
                h1 {
                    width: 100%;
                    font-weight: bold;
                    margin: 75px auto 0px auto;
                    font-size: 28px;
                }

                hr {

                    margin-top: 5px;
                    background-color: #309C49;
                    border: none;
                    width: 300px;
                    height: 3px;
                }
            }

            &__info {
                margin-top: 30px;
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-between;

                p {
                    width: 45%;
                    font-size: 19px;
                }

                img {
                    width: 475px;
                    margin-right: 10%;
                }
            }
        }

        &__fundamentalBelief {
            margin-bottom: 150px;

            h1 {
                width: 100%;
                text-align: center;
                font-weight: bold;
                margin: 125px auto 0px auto;
                font-size: 28px;

            }

            hr {
                margin: auto;
                margin-top: 5px;
                background-color: #309C49;
                border: none;
                width: 400px;
                height: 3px;
            }

            p {
                width: 800px;
                text-align: center;
                margin: auto;
                margin-top: 25px;
                font-size: 24px;
            }
        }

        &__businessJournal {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 150px;

            &__info {
                width: 45%;

                h1 {
                    width: 100%;
                    font-weight: bold;
                    margin: 5px auto 0px auto;
                    font-size: 28px;
                }

                hr {
                    margin-top: 5px;
                    background-color: #309C49;
                    border: none;
                    width: 100%;
                    height: 3px;
                }

                &__firstText {
                    margin-top: 30px;
                    font-size: 19px;
                }

                &__downloadText {
                    font-size: 19px;
                }
            }

            img {
                width: 350px;
                margin-right: 15%;
                border-radius: 10px;
            }
        }
    }
}

@media only screen and (max-width: 1550px) {
    .mainBodyAboutUs {
        &__content {
            &__aboutTheCompany {
                &__info {
                    img {
                        margin-right: 5%;
                    }
                }
            }

            &__businessJournal {
                img {
                    margin-right: 5%;
                }
            }
        }
    }
}

@media only screen and (max-width: 1440px) {
    .mainBodyAboutUs {
        &__hero {
            height: 575px;
        }

        &__content {
            &__aboutTheCompany {
                &__header {
                    h1 {
                        font-size: 26px;
                    }

                    hr {
                        width: 280px;
                    }
                }

                &__info {
                    p {
                        font-size: 17px;
                    }

                    img {
                        width: 450px;
                    }
                }
            }

            &__fundamentalBelief {
                h1 {
                    font-size: 26px;
                }

                hr {
                    width: 380px;
                }

                p {
                    font-size: 22px;
                }
            }


            &__businessJournal {
                &__info {
                    h1 {
                        font-size: 26px;
                    }

                    hr {
                        width: 95%;
                    }

                    &__firstText {
                        font-size: 18px;
                    }

                    &__downloadText {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1280px) {
    .mainBodyAboutUs {
        &__hero {
            height: 525px;
        }

        &__content {
            &__imgCaption {
                font-size: 14px;
            }

            &__aboutTheCompany {
                &__header {
                    h1 {
                        font-size: 22px;
                    }

                    hr {
                        width: 250px;
                    }
                }

                &__info {
                    p {
                        font-size: 16px;
                    }

                    img {
                        width: 425px;
                    }
                }
            }

            &__fundamentalBelief {
                h1 {
                    font-size: 24px;
                }

                hr {
                    width: 360px;
                }

                p {
                    font-size: 21px;
                }
            }

            &__businessJournal {
                &__info {
                    h1 {
                        font-size: 24px;
                    }

                    hr {
                        width: 93%;
                    }

                    &__firstText {
                        font-size: 17px;
                    }

                    &__downloadText {
                        font-size: 17px;
                    }
                }

                img {
                    width: 325px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1100px) {
    .mainBodyAboutUs {
        &__hero {
            height: 525px;
        }

        &__content {
            &__imgCaption {
                font-size: 14px;
            }

            &__aboutTheCompany {
                &__header {
                    h1 {
                        font-size: 20px;
                    }

                    hr {
                        width: 225px;
                    }
                }

                &__info {
                    p {
                        font-size: 14px;
                    }

                    img {
                        width: 400px;
                    }
                }
            }

            &__fundamentalBelief {
                h1 {
                    font-size: 22px;
                }

                hr {
                    width: 360px;
                }

                p {
                    font-size: 19px;
                }
            }

            &__businessJournal {
                &__info {
                    h1 {
                        font-size: 22px;
                    }

                    hr {
                        width: 100%;
                    }

                    &__firstText {
                        font-size: 16px;
                    }

                    &__downloadText {
                        font-size: 16px;
                    }
                }

                img {
                    width: 325px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .mainBodyAboutUs {
        &__hero {
            height: 525px;
        }

        &__content {
            &__imgCaption {
                font-size: 12px;
            }

            &__aboutTheCompany {
                &__header {
                    h1 {
                        font-size: 19px;
                    }

                    hr {
                        width: 225px;
                    }
                }

                &__info {
                    p {
                        font-size: 12px;
                    }

                    img {
                        width: 375px;
                    }
                }
            }

            &__fundamentalBelief {
                h1 {
                    font-size: 20px;
                }

                hr {
                    width: 345px;
                }

                p {
                    width: 700px;
                    font-size: 18px;
                }
            }

            &__businessJournal {
                &__info {
                    h1 {
                        font-size: 20px;
                    }

                    hr {
                        width: 100%;
                    }

                    &__firstText {
                        font-size: 15px;
                    }

                    &__downloadText {
                        font-size: 15px;
                    }
                }

                img {
                    width: 325px;
                }
            }
        }
    }
}

@media only screen and (max-width: 925px) {
    .mainBodyAboutUs {
        &__hero {
            height: 425px;
        }

        &__content {
            &__aboutTheCompany {
                display: flex;
                flex-direction: column;

                &__info {
                    display: flex;
                    flex-direction: column;

                    p {
                        width: 100%;
                        font-size: 16px;
                    }

                    img {
                        margin-top: 50px;
                    }
                }
            }

            &__fundamentalBelief {
                hr {

                    width: 300px;
                }
            }

            &__businessJournal {
                display: flex;
                flex-direction: column;
                margin-bottom: 100px;

                &__info {
                    width: 100%;

                    hr {
                        width: 500px;
                    }
                }

                img {
                    margin-top: 50px;
                }
            }
        }
    }
}

@media only screen and (max-width: 750px) {
    .mainBodyAboutUs {
        &__hero {
            height: 350px;
        }

        &__content {
            &__fundamentalBelief {
                p {
                    width: 550px;
                    font-size: 18px;
                }
            }

            &__aboutTheCompany {
                &__header {
                    h1 {
                        margin: 50px auto 0px auto;
                    }
                }

                &__info {
                    img {
                        margin-right: 0px;
                    }
                }
            }

            &__businessJournal {
                &__info {
                    h1 {
                        text-align: center;
                        margin: auto;
                    }

                    hr {
                        width: 100%;
                        margin: auto;
                    }

                    &__firstText {
                        text-align: center;
                    }

                    &__downloadText {
                        text-align: center;
                    }

                    a {
                        width: 100%;
                        text-align: center;
                        display: block;
                    }
                }

                img {
                    margin-right: 0px;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .mainBodyAboutUs {
        &__hero {
            height: 300px;
        }

        &__content {
            &__fundamentalBelief {
                p {
                    width: 450px;
                    font-size: 17px;
                }
            }
        }
    }
}

@media only screen and (max-width: 450px) {
    .mainBodyAboutUs {
        &__hero {
            height: 275px;
        }

        &__content {
            &__fundamentalBelief {
                margin-bottom: 115px;

                p {
                    width: 300px;
                }

                hr {
                    width: 275px;
                }
            }

            &__aboutTheCompany {
                margin-bottom: 25px;

                &__header {
                    h1 {
                        font-size: 18px;
                    }

                    hr {
                        width: 200px;
                    }
                }

                &__info {
                    p {
                        font-size: 15px;
                    }

                    img {
                        width: 325px;
                    }
                }
            }

            &__businessJournal {
                margin-bottom: 125px;

                &__info {
                    h1 {
                        font-size: 18px;
                    }

                    &__firstText {
                        font-size: 14px;
                    }

                    &__downloadText {
                        font-size: 14px
                    }
                }

                img {
                    width: 325px;
                }
            }
        }
    }
}

@media only screen and (max-width: 350px) {
    .mainBodyAboutUs {
        &__hero {
            height: 250px;
        }

        &__content {
            &__fundamentalBelief {
                p {
                    width: 250px;
                }

                h1 {
                    font-size: 16px;
                }

                hr {
                    width: 250px;
                }

                p {
                    font-size: 16px;
                }
            }

            &__aboutTheCompany {
                &__info {
                    p {
                        font-size: 14px;
                    }

                    img {
                        width: 250px;
                    }
                }
            }

            &__businessJournal {
                &__info {}

                img {
                    width: 250px;
                }
            }
        }
    }
}