.mainBodyContact {
    width: 100%;
    position: relative;
    z-index: 0;
    color: #707070;

    &__contactTitle {
        width: 70%;
        margin: 45px auto 0px auto;

        h1 {
            font-weight: bold;
            margin-bottom: 0px;
            font-size: 28px;
        }

        hr {
            margin-top: 5px;
            background-color: #309C49;
            border: none;
            width: 220px;
            height: 3px;
        }

        p {
            font-size: 20px;
        }
    }

    &__mailAddy {
        display: flex;
        justify-content: space-between;
        min-width: 1000px !important;
        width: 70%;
        margin: auto;
        padding-top: 70px;

        &__poBox {
            padding: 19px 83px 19px 83px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: #707070 3px solid;
            text-align: center;
            transition: all .8s ease-in-out;

            img {
                margin-bottom: 10px;
            }
        }

        &__poBox:hover {
            transform: scale(1.05);
            border: #309C49 3px solid;
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        }

        &__address {
            text-align: center;
            padding: 19px 83px 19px 83px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: #707070 2px solid;
            transition: all .8s ease-in-out;

            img {
                margin-bottom: 10px;
            }
        }

        &__address:hover {
            transform: scale(1.04);
            border: #309C49 3px solid;
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        }
    }

    &__phoneFax {
        min-width: 720px;
        width: 45%;
        margin: auto;
        padding-top: 70px;
        padding-bottom: 70px;

        &__infoM {
            display: none !important;
            width: 100%;
            border: #707070 3px solid;
            display: flex;
            transition: all .8s ease-in-out;
            padding: 23px;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        &__info {
            width: 100%;
            border: #707070 3px solid;
            display: flex;
            transition: all .8s ease-in-out;
            padding: 23px;
            justify-content: center;

            img {
                margin-right: 40px;
                width: 96px;
                height: 96px;
            }

            &__split {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                &__top {
                    display: flex;
                    align-items: center;

                    h1 {
                        width: 125px;
                        margin-bottom: 0px;
                        font-size: 28px;
                    }

                    p {
                        font-size: 20px;
                        margin-bottom: 0px;
                    }

                }

                &__bottom {
                    display: flex;
                    align-items: center;

                    h1 {
                        width: 125px;
                        margin-bottom: 0px;
                        font-size: 28px;
                    }

                    p {
                        font-size: 20px;
                        margin-bottom: 0px;
                    }

                }
            }
        }

        &__info:hover {
            transform: scale(1.03);
            border: #309C49 3px solid;
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        }
    }

    &__emails {
        width: 70%;
        margin: auto;
        min-width: 550px;
        padding: 30px 0px 120px 0px;

        &__info {
            h1 {
                margin-bottom: 0px;
            }

            hr {
                height: 4px;
                border: none;
                background-color: #707070;
            }

            &__table {
                &__row {
                    display: flex;
                    justify-content: space-between;
                    height: 75px;
                    padding: 9px 20px 9px 20px;
                    background-color: #F2EFEF;

                    &__columnName {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        h1 {
                            margin-bottom: 0px;
                            font-size: 24px;
                        }

                        p {
                            margin-bottom: 0px;
                            font-size: 18px;
                        }
                    }

                    &__emails {
                        display: flex;
                        align-items: flex-end;
                        flex-direction: column;
                        justify-content: flex-end;

                        p {
                            margin-bottom: 0px;
                            font-size: 20px;
                        }
                    }
                }

                &__row:nth-child(even) {
                    background-color: #fff;
                }
            }
        }
    }
}

@media only screen and (max-width: 1650px) {
    .mainBodyContact {
        &__mailAddy {
            &__poBox {
                padding: 17px 75px 17px 75px;

                img {
                    width: 80px;
                }

                h1 {
                    font-size: 28px;
                }

                p {
                    font-size: 15px;
                }
            }

            &__address {
                padding: 17px 75px 17px 75px;

                img {
                    width: 80px;
                }

                h1 {
                    font-size: 28px;
                }

                p {
                    font-size: 15px;
                }
            }
        }

        &__phoneFax {
            min-width: 500px;

            &__info {
                padding: 19px;

                img {
                    width: 80px;
                    height: 80px;
                }

                &__split {
                    &__top {
                        h1 {
                            font-size: 24px;
                        }

                        p {
                            font-size: 15px;
                        }
                    }

                    &__bottom {
                        h1 {
                            font-size: 24px;
                        }

                        p {
                            font-size: 15px;
                        }
                    }
                }
            }
        }

        &__emails {
            &__info {
                h1 {
                    font-size: 26px;
                }

                &__table {
                    &__row {
                        &__columnName {
                            h1 {
                                font-size: 22px;
                            }

                            p {
                                font-size: 16px;
                            }
                        }

                        &__emails {
                            p {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1480px) {}

@media only screen and (max-width: 1280px) {
    .mainBodyContact {
        &__mailAddy {
            min-width: 900px !important;
            justify-content: space-around;

            &__poBox {
                padding: 17px 70px 17px 70px;

                img {
                    width: 64px;
                }

                h1 {
                    font-size: 25px;
                }

                p {
                    font-size: 14px;
                }
            }

            &__address {
                padding: 17px 75px 17px 75px;

                img {
                    width: 64px;
                }

                h1 {
                    font-size: 25px;
                }

                p {
                    font-size: 14px;
                }
            }
        }

        &__phoneFax {
            min-width: 500px;

            &__info {
                padding: 19px;

                img {
                    width: 64px;
                    height: 64px;
                }

                &__split {
                    &__top {
                        h1 {
                            font-size: 22px;
                        }

                        p {
                            font-size: 14px;
                        }
                    }

                    &__bottom {
                        h1 {
                            font-size: 22px;
                        }

                        p {
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        &__emails {
            &__info {
                h1 {
                    font-size: 26px;
                }

                &__table {
                    &__row {
                        &__columnName {
                            h1 {
                                font-size: 22px;
                            }

                            p {
                                font-size: 16px;
                            }
                        }

                        &__emails {
                            p {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1125px) {
    .mainBodyContact {
        &__contactTitle {}

        &__mailAddy {
            justify-content: space-around;

            &__poBox {}

            &__addresss {}
        }

        &__phoneFax {}

        &__emails {}
    }
}

@media only screen and (max-width: 925px) {

    .mainBodyContact {
        &__contactTitle {
            h1 {
                font-weight: bold;
                margin-bottom: 0px;
                font-size: 28px;
            }

            hr {}

            p {
                font-size: 20px;
            }
        }

        &__mailAddy {
            min-width: 0px !important;
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-top: 60px;

            &__poBox {
                margin: auto;
                padding: 19px 75px 19px 75px;

                margin: 0px auto 75px auto;
                width: 500px;

                img {
                    margin-bottom: 10px;
                }
            }

            &__address {
                margin: auto;
                width: 500px;
                padding: 19px 75px 19px 75px;
                margin: 0px auto 75px auto;

                img {
                    margin-bottom: 10px;
                }
            }
        }

        &__phoneFax {
            min-width: 0px;
            width: 500px;
            margin: auto;
            padding-bottom: 50px;
            padding-top: 0px;

            &__infoM {
                display: flex !important;

                img {
                    width: 64px;
                    margin-bottom: 10px;
                }

                h1 {
                    font-size: 25px;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 14px;
                    margin-bottom: 5px;
                }
            }

            &__info {
                display: none;

                img {}

                &__split {
                    &__top {
                        h1 {}

                        p {}
                    }

                    &__bottom {
                        h1 {}

                        p {}
                    }
                }
            }
        }

        &__emails {
            &__info {
                h1 {}

                hr {}

                &__table {
                    &__row {
                        &__columnName {
                            h1 {}

                            p {}

                        }
                    }

                    &__emails {
                        p {}
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 725px) {
    .mainBodyContact {
        &__contactTitle {
            h1 {}

            hr {}

            p {}
        }

        &__mailAddy {
            &__poBox {
                padding: 19px 20px 19px 20px;
                width: 400px;

                h1 {
                    font-size: 24px;
                }

                p {
                    font-size: 13px;
                }
            }

            &__address {
                padding: 19px 20px 19px 20px;
                width: 400px;

                h1 {
                    font-size: 24px;
                }

                p {
                    font-size: 13px;
                }
            }
        }

        &__phoneFax {
            width: 400px;

            &__infoM {
                h1 {
                    font-size: 24px;
                }

                p {
                    font-size: 13px;
                }
            }
        }

        &__emails {
            min-width: 0px;

            &__info {
                h1 {
                    font-size: 24px;
                }

                &__table {
                    &__row {
                        height: 65px;

                        &__columnName {
                            h1 {
                                font-size: 20px;
                            }

                            p {
                                font-size: 14px;
                            }

                        }

                        &__emails {
                            p {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 550px) {
    .mainBodyContact {
        &__contactTitle {
            h1 {
                font-size: 26px;
            }

            hr {
                width: 200px;
            }

            p {
                font-size: 18px;
            }
        }

        &__mailAddy {
            min-width: 0px !important;

            &__poBox {
                width: 350px;

                h1 {
                    font-size: 24px;
                }

                p {
                    font-size: 13px;
                }
            }

            &__address {
                width: 350px;

                h1 {
                    font-size: 24px;
                }

                p {
                    font-size: 13px;
                }
            }
        }

        &__phoneFax {
            width: 350px;

            &__infoM {
                h1 {
                    font-size: 22px;
                }

                p {
                    font-size: 12px;
                }
            }
        }

        &__emails {
            &__info {
                h1 {
                    font-size: 22PX;
                }

                hr {}

                &__table {
                    &__row {
                        &__columnName {
                            h1 {
                                font-size: 18px;
                            }

                            p {
                                font-size: 13px;
                            }

                        }
                    }

                    &__emails {
                        p {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .mainBodyContact {
        &__contactTitle {
            width: 80%;

            h1 {
                font-size: 24px;
            }

            hr {
                width: 180px;
            }

            p {
                font-size: 16px;
            }
        }

        &__mailAddy {
            &__poBox {
                width: 280px;

                img {
                    width: 50px;
                }

                h1 {
                    font-size: 22px;
                }

                p {
                    font-size: 12px;
                }
            }

            &__address {
                width: 280px;

                img {
                    width: 50px;
                }

                h1 {
                    font-size: 22px;
                }

                p {
                    font-size: 13px;
                }
            }
        }

        &__phoneFax {
            width: 280px;

            img {
                width: 50px;
            }

            h1 {
                font-size: 22px;
            }

            p {
                font-size: 13px;
            }
        }

        &__emails {
            &__info {
                &__table {
                    &__row {
                        height: 80px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        text-align: center;

                        &__columnName {

                            h1 {
                                margin: 5px 0px 5px 0px;
                            }

                            p {
                                margin-bottom: 5px;
                            }
                        }

                        &__emails {
                            P {
                                margin-bottom: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 375px) {
    .mainBodyContact {
        &__contactTitle {
            h1 {
                font-size: 20px;
            }

            hr {
                width: 165px;
            }

            p {
                font-size: 16px;
            }
        }

        &__mailAddy {
            &__poBox {
                width: 280px;

                h1 {
                    font-size: 20px;
                }

                p {
                    font-size: 12px;
                }
            }

            &__address {
                width: 280px;

                h1 {
                    font-size: 20px;
                }

                p {
                    font-size: 12px;
                }
            }
        }

        &__phoneFax {
            width: 280px;

            &__infoM {
                h1 {
                    font-size: 20px;
                }

                p {
                    font-size: 11px;
                }
            }
        }

        &__emails {
            &__info {
                h1 {
                    font-size: 17px;
                }

                hr {}

                &__table {
                    &__row {
                        &__columnName {
                            h1 {
                                font-size: 16px;
                            }

                            p {
                                font-size: 12px;
                            }
                        }
                    }

                    &__emails {
                        p {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 325px) {
    .mainBodyContact {
        &__contactTitle {
            h1 {
                font-size: 18px;
            }

            hr {
                width: 150px;
            }
        }

        &__mailAddy {
            &__poBox {
                width: 225px;
            }

            &__address {
                width: 225px;
            }
        }

        &__phoneFax {
            width: 225px;
        }

        &__emails {
            &__info {
                &__table {
                    &__row {
                        &__columnName {
                            h1 {
                                font-size: 16px;
                            }

                            p {
                                font-size: 11px;
                            }
                        }

                        &__emails {
                            p {
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    }
}