.mainBodyFeedback {
    width: 100%;
    position: relative;
    z-index: 0;
    color: #707070;

    &__feedbackTitle {
        width: 80%;
        margin: 50px auto 0px auto;

        h1 {
            font-weight: bold;
            margin-bottom: 0px;
            font-size: 28px;
        }

        hr {
            margin-top: 5px;
            background-color: #309C49;
            border: none;
            width: 375px;
            height: 3px;
        }
    }

    .result {
        width: 80% !important;
        font-size: 20px;
        margin: 20px auto 0px auto;
        color: #ff1a1a;
    }

    form {
        width: 80%;
        margin: 40px auto 75px auto;

        h1 {
            font-size: 24px;
        }

        p {
            font-size: 19px;
        }
    }

    &__contactInfo {
        display: flex;
        margin: 40px auto 40px auto;

        label {
            font-size: 19px;
            width: 100px;
            display: block;
        }

        input {
            border: none;
            padding: 5px;
            font-size: 13px;
            border-bottom: #707070 2px solid;
            color: #707070;
            margin-right: 50px;
            transition: all .8s;
        }

        input:hover {
            border-bottom: #309C49 2px solid;
        }

        &__left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &__name {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
            }

            &__telephone {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
            }

        }

        &__right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &__email {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
            }

            &__fax {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
            }
        }
    }

    input[type=checkbox] {
        /* Double-sized Checkboxes */
        -ms-transform: scale(2);
        /* IE */
        -moz-transform: scale(2);
        /* FF */
        -webkit-transform: scale(2);
        /* Safari and Chrome */
        -o-transform: scale(2);
        /* Opera */
        transform: scale(1.6);
        padding: 10px;
        width: 30px;
    }

    .urgentMessage {
        font-size: 17px;
        margin-left: 25px !important;
    }

    .choiceText {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    &__commentOn {
        select {
            border: none;
            padding: 10px;
            border-bottom: #707070 2px solid;
            font-size: 16px;
            transition: all .8s;
            margin-right: 25px;
        }

        select:hover {
            border-bottom: #309C49 2px solid;
        }

        label {
            font-size: 19px;
            margin-right: 5px;
        }

        input {
            border: none;
            padding: 5px;
            font-size: 13px;
            border-bottom: #707070 2px solid;
            color: #707070;
            margin-right: 50px;
            transition: all .8s;
        }

        input:hover {
            border-bottom: #309C49 2px solid;
        }


    }

    &__options {
        display: flex;

        &__clump {
            display: flex;
            align-items: center;
        }

        input[type=radio] {
            /* Double-sized Checkboxes */
            -ms-transform: scale(1.5);
            /* IE */
            -moz-transform: scale(1.5);
            /* FF */
            -webkit-transform: scale(1.5);
            /* Safari and Chrome */
            -o-transform: scale(1.5);
            /* Opera */
            transform: scale(1.5);
            padding: 10px;
            margin-right: 20px;
        }

        label {
            font-size: 18px;
            margin-right: 40px;
        }
    }

    &__inputComment {
        margin-bottom: 40px;

        textarea {
            resize: none;
            font-size: 19px;
            border: #707070 3px solid;
            background-color: #F2EFEF;
        }
    }

    &__submitClearButtons {
        input {
            padding: 14px 16px 14px 16px;
        }

        input[type=submit] {
            background-color: #309C49;
            color: #fff;
            border: none;
            font-size: 17px;
            margin-right: 35px;
            transition: all .8s;
        }

        input[type=submit]:hover {
            background-color: #247537;
            cursor: pointer;
        }

        input[type=reset] {
            color: #707070;
            border: none;
            font-size: 17px;
            transition: all .8s;
        }

        input[type=reset]:hover {
            background-color: #d9d9d9;
            cursor: pointer;
        }
    }
}

@media only screen and (max-width: 1650px) {
    .mainBodyFeedback {
        &__feedbackTitle {}

        .result {
            font-size: 18px;
        }

        form {
            h1 {
                font-size: 20px;
            }

            p {
                font-size: 17;
            }

        }

        &__contactInfo {
            label {
                font-size: 17px;
            }

            input {
                font-size: 12px;
            }
        }

        .urgentMessage {
            font-size: 16px;
        }

        &__commentOn {
            select {
                font-size: 15px;
            }

            label {
                font-size: 17px;
            }

            input {
                font-size: 13;
            }
        }

        &__options {
            label {
                font-size: 16px;
            }
        }

        &__inputComment {
            textarea {
                font-size: 17px;
            }
        }

        &__submitClearButtons {
            input {
                padding: 13px 15px 13px 15px;
            }

            input[type=submit] {

                font-size: 16px;
            }

            input[type=reset] {
                font-size: 16px;
            }
        }
    }
}

@media only screen and (max-width: 1480px) {}

@media only screen and (max-width: 1280px) {
    .mainBodyFeedback {
        &__feedbackTitle {}

        .result {
            font-size: 17px;
        }

        form {
            h1 {
                font-size: 20px;
            }

            p {
                font-size: 17;
            }

        }

        &__contactInfo {
            label {
                font-size: 17px;
            }

            input {
                font-size: 12px;
            }
        }

        .urgentMessage {
            font-size: 15px;
        }

        &__commentOn {
            select {
                font-size: 14px;
            }

            label {
                font-size: 16px;
            }

            input {
                font-size: 13;
            }
        }

        &__options {
            label {
                font-size: 14.5px;
            }
        }

        &__inputComment {
            textarea {
                font-size: 15px;
            }
        }

        &__submitClearButtons {
            input {
                padding: 13px 15px 13px 15px;
            }

            input[type=submit] {

                font-size: 16px;
            }

            input[type=reset] {
                font-size: 16px;
            }
        }
    }
}

@media only screen and (max-width: 1000px) {}

@media only screen and (max-width: 925px) {
    .mainBodyFeedback {
        &__feedbackTitle {
            h1 {
                font-size: 26px;
            }

            hr {
                width: 325px;
            }
        }

        .result {
            font-size: 15px;
        }

        form {
            h1 {
                font-size: 18px;
            }

            P {
                font-size: 16px;
            }
        }

        &__contactInfo {
            label {
                font-size: 16px;
            }

            input {
                font-size: 12px;
            }

            input:hover {}

            &__left {}

            &__right {}
        }

        input[type=checkbox] {}

        .urgentMessage {
            font-size: 14px;
        }

        .choiceText {}

        &__commentOn {
            select {
                font-size: 14px;
            }

            select:hover {}

            label {
                font-size: 15px;
            }

            input {
                font-size: 12px;
            }

            input:hover {}
        }

        &__options {
            &__clump {}

            input[type=radio] {}

            label {
                font-size: 14px;
            }
        }

        &__inputComment {
            textarea {
                font-size: 14px;
            }
        }

        &__submitClearButtons {
            input {}

            input[type=submit] {
                font-size: 15px;
            }

            input[type=submit]:hover {}

            input[type=reset] {
                font-size: 15px;
            }

            input[type=reset]:hover {}
        }
    }
}

@media only screen and (max-width: 790px) {
    .mainBodyFeedback {
        &__feedbackTitle {
            width: 85%;
            margin: 50px auto 0px auto;

            h1 {
                font-size: 24px;
            }

            hr {
                width: 300px;
            }
        }

        .result {
            width: 85% !important;
        }

        form {
            width: 85%;

        }

        &__contactInfo {
            display: flex;
            flex-direction: column;

            label {
                width: 100%;
                margin-bottom: 15px;
            }

            input {
                width: 100%;
                margin: auto;
                border: #707070 1px solid;
                border-radius: 10px;
                font-size: 18px;
            }

            &__left {
                display: flex;
                flex-direction: column;

                &__name {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                }

                &__telephone {
                    display: flex;
                    flex-direction: column;
                }
            }

            &__right {
                display: flex;
                flex-direction: column;

                &__email {
                    display: flex;
                    flex-direction: column;

                }

                &__fax {
                    display: flex;
                    flex-direction: column;
                }
            }
        }

        input[type=checkbox] {
            /* Double-sized Checkboxes */
            -ms-transform: scale(1.7);
            /* IE */
            -moz-transform: scale(1.7);
            /* FF */
            -webkit-transform: scale(1.7);
            /* Safari and Chrome */
            -o-transform: scale(1.7);
            /* Opera */
            transform: scale(1.7);
        }

        .urgentMessage {
            margin-left: 20px;
            font-size: 18px;
        }

        &__commentOn {
            width: 100%;
            display: flex;
            flex-direction: column;

            select {
                width: 100%;
                margin-bottom: 15px;
            }

            input {
                width: 100%;
                margin: auto;
                border: #707070 1px solid;
                border-radius: 10px;
                font-size: 18px;
            }

            label {
                margin-bottom: 15px;
            }
        }

        &__options {
            flex-direction: column;
            justify-content: center;

            &__clump {
                padding: 10px 0px 10px 0px;
            }

            input[type=radio] {
                /* Double-sized Checkboxes */
                -ms-transform: scale(1.8);
                /* IE */
                -moz-transform: scale(1.8);
                /* FF */
                -webkit-transform: scale(1.8);
                /* Safari and Chrome */
                -o-transform: scale(1.8);
                /* Opera */
                transform: scale(1.8);
            }

            label {
                font-size: 20px;
            }
        }

        &__inputComment {
            textarea {
                width: 100%;
            }
        }

        &__submitClearButtons {
            display: flex;
            justify-content: center;
        }
    }
}

@media only screen and (max-width: 640px) {
    .mainBodyFeedback {
        &__feedbackTitle {

            h1 {
                font-size: 22px;
            }

            hr {
                width: 275px;
            }
        }

        .result {
            width: 85% !important;
        }

        form {
            width: 85%;

            h1 {
                font-size: 17px;
            }

            p {
                font-size: 15px;
            }
        }

        &__contactInfo {

            margin: 25px auto;

            label {
                font-size: 16px;
            }

            input {
                font-size: 12px;
            }

            &__left {

                &__name {}

                &__telephone {}
            }

            &__right {

                &__email {}

                &__fax {}
            }
        }

        input[type=checkbox] {
            /* Double-sized Checkboxes */
            -ms-transform: scale(1.6);
            /* IE */
            -moz-transform: scale(1.6);
            /* FF */
            -webkit-transform: scale(1.6);
            /* Safari and Chrome */
            -o-transform: scale(1.6);
            /* Opera */
            transform: scale(1.6);
        }

        .urgentMessage {
            margin-left: 0px !important;
            font-size: 14px;
        }

        .choiceText {
            margin-top: 30px;
            margin-bottom: 20px;
        }

        &__commentOn {

            select {
                margin-bottom: 15px;
                font-size: 14px;
            }

            label {
                font-size: 16;
            }

            input {
                font-size: 12px;
            }

            label {
                margin-bottom: 15px;
            }
        }

        &__options {

            &__clump {
                padding: 10px 0px 10px 0px;
            }

            input[type=radio] {
                /* Double-sized Checkboxes */
                -ms-transform: scale(1.6);
                /* IE */
                -moz-transform: scale(1.6);
                /* FF */
                -webkit-transform: scale(1.6);
                /* Safari and Chrome */
                -o-transform: scale(1.6);
                /* Opera */
                transform: scale(1.6);
            }

            label {
                font-size: 18px;
            }
        }

        &__inputComment {
            textarea {
                width: 100%;
            }
        }

        &__submitClearButtons {
            display: flex;
            justify-content: center;
        }
    }
}

@media only screen and (max-width: 500px) {
    .mainBodyFeedback {
        &__feedbackTitle {

            h1 {
                font-size: 19px;
            }

            hr {
                width: 230px;
            }
        }

        .result {
            width: 85% !important;
        }

        form {
            width: 85%;

            margin: 25px auto 50px auto;

            h1 {
                font-size: 17px;
            }

            p {
                font-size: 14px;
            }
        }

        &__contactInfo {

            margin: 25px auto;

            label {
                font-size: 16px;
            }

            input {
                font-size: 12px;
            }

            &__left {

                &__name {}

                &__telephone {}
            }

            &__right {

                &__email {}

                &__fax {}
            }
        }

        input[type=checkbox] {
            /* Double-sized Checkboxes */
            -ms-transform: scale(1.6);
            /* IE */
            -moz-transform: scale(1.6);
            /* FF */
            -webkit-transform: scale(1.6);
            /* Safari and Chrome */
            -o-transform: scale(1.6);
            /* Opera */
            transform: scale(1.6);
        }

        .urgentMessage {
            margin-left: 20px;
            font-size: 14px;
        }

        .choiceText {
            margin-top: 30px;
            margin-bottom: 20px;
        }

        &__commentOn {

            select {
                margin-bottom: 15px;
                font-size: 14px;
            }

            label {
                font-size: 16;
            }

            input {
                font-size: 12px;
            }

            label {
                margin-bottom: 15px;
            }
        }

        &__options {

            &__clump {
                padding: 10px 0px 10px 0px;
            }

            input[type=radio] {
                /* Double-sized Checkboxes */
                -ms-transform: scale(1.5);
                /* IE */
                -moz-transform: scale(1.5);
                /* FF */
                -webkit-transform: scale(1.5);
                /* Safari and Chrome */
                -o-transform: scale(1.5);
                /* Opera */
                transform: scale(1.5);
            }

            label {
                font-size: 16px;
            }
        }

        &__inputComment {
            textarea {
                width: 100%;
            }
        }

        &__submitClearButtons {
            display: flex;
            justify-content: center;
        }
    }
}

@media only screen and (max-width: 400px) {
    .mainBodyFeedback {
        input[type=checkbox] {
            /* Double-sized Checkboxes */
            -ms-transform: scale(1.4);
            /* IE */
            -moz-transform: scale(1.4);
            /* FF */
            -webkit-transform: scale(1.4);
            /* Safari and Chrome */
            -o-transform: scale(1.4);
            /* Opera */
            transform: scale(1.4);
            width: 20px;
        }

        &__submitClearButtons {
            input {
                padding: 13px 15px;
            }

            input[type=submit] {
                font-size: 14px;
            }

            input[type=reset] {
                font-size: 14px;
            }
        }
    }
}

@media only screen and (max-width: 350px) {
    .mainBodyFeedback {
        &__feedbackTitle {
            h1 {
                font-size: 18px;
            }

            hr {
                width: 225px;
            }
        }

        .result {}

        form {
            h1 {
                font-size: 16px;
            }

            p {
                font-size: 13px;
            }
        }

        &__contactInfo {
            label {
                font-size: 15px;
            }

            input {
                font-size: 11px;
            }
        }

        input[type=checkbox] {
            -ms-transform: scale(1.3);
            /* IE */
            -moz-transform: scale(1.3);
            /* FF */
            -webkit-transform: scale(1.3);
            /* Safari and Chrome */
            -o-transform: scale(1.3);
            /* Opera */
            transform: scale(1.3);
            width: 20px;
        }

        .urgentMessage {}

        .choiceText {}

        &__commentOn {
            select {}

            label {}

            input {}

            label {}
        }

        &__options {
            &__clump {}

            input[type=radio] {
                /* Double-sized Checkboxes */
                -ms-transform: scale(1.4);
                /* IE */
                -moz-transform: scale(1.4);
                /* FF */
                -webkit-transform: scale(1.4);
                /* Safari and Chrome */
                -o-transform: scale(1.4);
                /* Opera */
                transform: scale(1.4);
            }

            label {}
        }

        &__inputComment {
            textarea {
                font-size: 13px;
            }
        }
    }
}