.header {
    width: 100%;
    z-index: 5;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

    p {
        margin-bottom: 0px;
    }

    &__phoneStrip {
        width: 100%;
        background-color: #323D49;
        padding: 10px 0px 10px 0px;

        &__holder {
            width: 85%;
            margin: auto;

            &__info {
                font-size: 16px;
                font-weight: bold;
                color: #fff;
            }
        }
    }

    &__logoCompany {
        background-color: #fff;
        width: 100%;
        padding: 17px 0px 17px 0px;

        &__holder {
            width: 85%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__imageText {
                display: flex;
                align-items: center;
                justify-content: start;

                img {
                    margin-right: 25px;
                    width: 100px;
                }

                p {
                    margin-bottom: 0px;
                    font-size: 18px;
                    font-weight: bold;
                }
            }

            &__pageSearch {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50px;
                border: #707070 solid 2px;
                height: 30px;
                transition: all .5s;

                input {
                    width: 225px;
                    padding: 5px;
                    border-radius: 50px 0px 0px 50px;
                    border: none;
                }

                img {
                    margin-right: 15px;
                }

                img:hover {
                    cursor: pointer;
                }
            }

            &__pageSearch:hover {
                border-color: #309C49;
            }
        }
    }

    &__nav {
        width: 100%;
        background-color: #309C49;
        font-size: 17px;

        &__holder {
            color: #fff;
            width: 85%;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;

            ul {
                display: flex;
                align-items: center;

                span {
                    font-size: 24px;
                }

                a {
                    padding: 9px 16px 9px 16px;
                    text-decoration: none;
                    color: #fff;
                    position: relative;
                    z-index: 1;
                    display: flex;
                    align-content: center;
                    justify-content: center;
                }

                a:after,
                a:before {
                    transition: all .5s;
                }

                a:after {
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: 0%;
                    content: '.';
                    color: transparent;
                    background: #E5B700;
                    height: 4px;
                    position: absolute;
                }

                a:hover:after {
                    width: 100%;
                }
            }

            #languageSelect {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;

                p {
                    font-size: 13px;
                }
            }

            #languageDisplay {
                border: none;
                font-size: 15px;
                background-color: #309C49;
                color: white;
            }

            #hideMenu {
                display: none;
                position: absolute;
                right: 0;
                top: 20px;

                a {
                    font-size: 15px;
                    text-decoration: none;
                    display: flex;
                    flex-direction: column;
                    padding: 5px 10px 5px 10px;
                    background-color: #309C49;
                    color: white;
                }
            }
        }
    }
}

.headerM {
    color: #707070;
    display: none;
    z-index: 2;
}

.mobNav {
    display: block;
    position: absolute;
    top: -100%;
    background-color: #fff;
    width: 100vw;
    height: calc(100vh - 54px);
    z-index: 1;

    &__nav {
        ul {
            a {
                font-size: 17px;
                text-decoration: none;
                color: #707070;
                display: inline-block;
                margin: 15px 0px 15px 20px;
                font-weight: bold;
            }

            hr {
                width: calc(100% - 40px);
                height: 2px;
                background-color: #309C49;
                border: none;
                margin: auto;
            }
        }
    }

    &__footer {
        position: absolute;
        bottom: 0px;
        display: flex;
        flex-direction: column;
        width: 100%;
        z-index: 3;

        &__top {
            margin: auto;
            display: flex;
            justify-content: center;

            a {
                img {
                    width: 36px;
                }
            }
        }

        hr {
            margin: auto;
            width: calc(100% - 40px);
            height: 5px;
            background-color: #309C49;
            border: none;
            margin: auto;
        }

        &__bottom {
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px 0px 15px 0px;

            img {
                width: 50px;
                margin-right: 20px;
            }

            h1 {
                font-size: 20px;
                margin-bottom: 0px;
                color: #707070;
            }
        }

    }
}

@media only screen and (max-width: 1650px) {
    .header {
        &__phoneStrip {
            padding: 9px 0px 9px 0px;

            &__holder {
                &__info {
                    font-size: 14px;
                }
            }
        }

        &__logoCompany {
            &__holder {
                &__imageText {
                    img {
                        width: 90px;
                    }

                    p {
                        font-size: 15.5px;
                    }
                }
            }
        }

        &__nav {
            font-size: 16px;

            ul {
                span {
                    font-size: 18px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1280px) {
    .header {
        &__phoneStrip {
            padding: 9px 0px 9px 0px;

            &__holder {
                &__info {
                    font-size: 14px;
                }
            }

        }

        &__logoCompany {
            &__holder {
                &__imageText {
                    img {
                        width: 80px;
                    }

                    p {
                        font-size: 14px;
                    }
                }
            }
        }


        &__nav {

            font-size: 14px;

            &__holder {

                ul {

                    span {
                        font-size: 17px;
                    }

                    a {
                        padding: 8px 14px 8px 14px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .mobNav {
        display: none;
    }
}

@media only screen and (max-width: 910px) {
    .header {
        display: none;
    }

    .headerM {
        display: block;
        position: relative;
        background-color: #fff;

        &__title {
            height: 50px;
            display: flex;
            align-items: center;

            button {
                color: #707070;
                position: absolute;
                width: 62px;
                height: 50px;
                padding: 0px;

                .hamburger-inner,
                .hamburger-inner::before,
                .hamburger-inner::after {
                    color: #707070;
                    width: 35px;
                }
            }

            h1 {
                margin: auto;
                text-align: center;
                padding: 0px;
                font-size: 23px;
            }
        }

        hr {
            height: 4px;
            background-color: #309C49;
            border: none;
            width: 100%;
        }
    }

    .mobNav {
        display: block;
    }
}

@media only screen and (max-width: 500px) {
    .header {
        display: none;
    }

    .headerM {

        &__title {
            height: 50px;

            button {
                width: 62px;
                height: 50px;
                padding: 0px;

                .hamburger-inner,
                .hamburger-inner::before,
                .hamburger-inner::after {
                    width: 35px;
                }
            }

            h1 {
                padding: 0px;
                font-size: 20px;
            }
        }

        hr {
            height: 4px;
            background-color: #309C49;
            border: none;
            width: 100%;
        }
    }

    .mobNav {

        &__nav {
            ul {
                a {
                    font-size: 16px;
                    margin: 14px 0px 14px 20px;
                }
            }
        }

        &__footer {
            &__top {
                a {
                    img {
                        width: 33px;
                    }
                }
            }

            &__bottom {
                padding: 14px 0px 14px 0px;

                img {
                    width: 45px;
                    margin-right: 20px;
                }

                h1 {
                    font-size: 18px;
                    margin-bottom: 0px;
                    color: #707070;
                }
            }

        }
    }
}

@media only screen and (max-width: 375px) {
    .header {
        display: none;
    }

    .headerM {

        &__title {
            height: 50px;

            button {
                width: 62px;
                height: 40px;
                padding: 0px;

                .hamburger-inner,
                .hamburger-inner::before,
                .hamburger-inner::after {
                    width: 30px;
                    margin-top: -1px;
                    height: 3px;
                }
            }

            h1 {
                padding: 0px;
                font-size: 15px;
            }
        }

        hr {
            height: 4px;
            background-color: #309C49;
            border: none;
            width: 100%;
        }
    }

    .mobNav {

        &__nav {
            ul {
                a {
                    font-size: 16px;
                    margin: 14px 0px 14px 20px;
                }
            }
        }

        &__footer {
            &__top {
                a {
                    img {
                        width: 30px;
                    }
                }
            }

            hr {
                height: 4px;
            }

            &__bottom {
                padding: 14px 0px 14px 0px;

                img {
                    width: 45px;
                    margin-right: 15px;
                }

                h1 {
                    font-size: 14px;
                    margin-bottom: 0px;
                    color: #707070;
                }
            }

        }
    }
}

@media only screen and (max-width: 300px) {
    .header {
        display: none;
    }

    .headerM {

        &__title {
            height: 50px;

            button {
                width: 62px;
                height: 40px;
                padding: 0px;
                transform: scalex(.9);
                transform: scaleY(.8);

                .hamburger-inner,
                .hamburger-inner::before,
                .hamburger-inner::after {
                    width: 23px;
                    margin-top: 0px;
                    height: 3px;
                }
            }

            h1 {
                padding: 0px;
                font-size: 15px;
            }
        }

        hr {
            height: 4px;
            background-color: #309C49;
            border: none;
            width: 100%;
        }
    }

    .mobNav {

        &__nav {
            ul {
                a {
                    font-size: 16px;
                    margin: 14px 0px 14px 20px;
                }
            }
        }

        &__footer {
            &__top {
                a {
                    img {
                        width: 30px;
                    }
                }
            }

            hr {
                height: 4px;
            }

            &__bottom {
                padding: 14px 0px 14px 0px;

                img {
                    width: 45px;
                    margin-right: 15px;
                }

                h1 {
                    font-size: 14px;
                    margin-bottom: 0px;
                    color: #707070;
                }
            }

        }
    }
}