.mainBodyFeedback {
    width: 100%;
    position: relative;
    z-index: 0;
    color: $gray;
    font-size: 16px;

    &__feedbackTitle {
        width: 85%;
        margin: 50px auto 0px auto;
        max-width: 1920px;

        h1 {
            font-weight: bold;
            margin-bottom: 0px;
            font-size: 1.5em;
        }

        hr {
            margin-top: 5px;
            background-color: $green;
            border: none;
            width: 375px;
            height: 3px;
        }
    }

    form {
        width: 85%;
        margin: 20px auto 50px auto;
        max-width: 1920px;

        h1 {
            font-size: 1.4em;
        }

        p {
            font-size: 1.2em;
        }
    }

    &__contactInfo {
        display: flex;
        margin: 40px auto 40px auto;


        label {
            font-size: 1.1875em;
            width: 100px;
            display: block;
        }

        input {
            border: none;
            padding: 5px;
            font-size: 0.8125em;
            border-bottom: $gray 2px solid;
            color: $gray;
            margin-right: 50px;
            transition: all .8s;

            &:hover {
                border-bottom: $gray 2px solid;
            }
        }

        &__left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &__name {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
            }

            &__telephone {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
            }
        }

        &__right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &__email {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
            }

            &__fax {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
            }
        }
    }

    input[type=checkbox] {
        /* Double-sized Checkboxes */
        -ms-transform: scale(2);
        /* IE */
        -moz-transform: scale(2);
        /* FF */
        -webkit-transform: scale(2);
        /* Safari and Chrome */
        -o-transform: scale(2);
        /* Opera */
        transform: scale(1.6);
        padding: 10px;
        width: 30px;
    }

    .urgentMessage {
        font-size: 1.0625em;
        margin-left: 25px;
    }

    .choiceText {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    &__commentOn {
        select {
            border: none;
            padding: 10px;
            border-bottom: $gray 2px solid;
            font-size: 1em;
            transition: all .8s;
            margin-right: 25px;

            &:hover {
                border-bottom: $green 2px solid;
            }
        }

        label {
            font-size: 1.1875em;
            margin-right: 5px;
        }

        input {
            border: none;
            padding: 5px;
            font-size: .8125em;
            border: $gray 2px solid;
            color: $gray;
            margin-right: 50px;
            transition: all .8s;

            &:hover {
                border-bottom: $green 2px solid;
            }
        }
    }

    &__options {
        display: flex;

        &__clump {
            display: flex;
            align-items: center;
        }

        input[type=radio] {
            /* Double-sized Checkboxes */
            -ms-transform: scale(1.5);
            /* IE */
            -moz-transform: scale(1.5);
            /* FF */
            -webkit-transform: scale(1.5);
            /* Safari and Chrome */
            -o-transform: scale(1.5);
            /* Opera */
            transform: scale(1.5);
            padding: 10px;
            margin-right: 20px;
        }

        label {
            font-size: 1.125em;
            margin-right: 40px;
        }
    }

    &__inputComment {
        margin-bottom: 35px;

        textarea {
            resize: none;
            font-size: 1.2em;
            border: $gray 3px solid;
            background-color: #F2EFEF;
        }
    }

    &__submitClearButtons {
        input {
            padding: 14px 16px 14px 16px;
        }

        input[type=submit] {
            background-color: $green;
            color: $white;
            border: none;
            font-size: 1em;
            margin-right: 35px;
            transition: all .8s;

            &:hover {
                background-color: $green;
                cursor: pointer;
            }
        }

        input[type=reset] {
            color: $gray;
            border: none;
            font-size: 1em;
            transition: all .8s;

            &:hover {
                background-color: $lighterGray;
                cursor: pointer;
            }
        }
    }
}

@media only screen and (max-width:1280px) {
    .mainBodyFeedback {
        &__feedbackTitle {
            width: 100%;
            padding: 0px 5% 0px 5%;

            h1 {
                font-size: 1.25em;
            }

            hr {
                width: 250px;
            }
        }

        form {
            width: 100%;
            padding: 0px 5% 0px 5%;
            margin-bottom: 30px;

            h1 {
                font-size: 1.2em;
            }

            p {
                font-size: 1em;
            }
        }

        &__contactInfo {
            margin-bottom: 20px;
            margin-top: 20px;

            label {
                font-size: 1.1em;
                width: 90px;
            }
        }

        input[type=checkbox] {
            transform: scale(1.5);
        }

        .urgentMessage {
            font-size: 1em;
            margin-left: 20px;
        }

        .choiceText {}

        &__commentOn {
            label {
                font-size: 1.1em;
            }
        }

        &__options {
            label {
                font-size: 1.1em;
            }
        }

        &__inputComment {
            textarea {
                font-size: 1.1em;
            }
        }

        &__submitClearButtons {}
    }
}

@media only screen and (max-width:930px) {
    .mainBodyFeedback {
        width: 100%;

        &__feedbackTitle {
            width: 100%;
            margin: 50px 0px 0px 0px;
            padding: 0px 5% 0px 5%;

            h1 {
                font-size: 1.625em;
            }

            hr {
                width: 325px;
            }
        }

        form {
            width: 100%;
            margin: 20px 0px 50px 0px;
            padding: 0px 5% 0px 5%;

            h1 {
                font-size: 1.125em;
            }

            P {
                font-size: 1em;
            }
        }

        &__inputComment {
            textarea {
                font-size: .875em;
            }
        }

        &__submitClearButtons {

            input[type=submit] {
                font-size: .9375em;

                &:hover {}
            }

            input[type=reset] {
                font-size: .9375em;

                &:hover {}
            }
        }
    }
}

@media only screen and (max-width:750px) {
    .mainBodyFeedback {
        &__feedbackTitle {
            h1 {
                font-size: 1.3em;
            }

            hr {
                width: 250px;
            }
        }

        form {
            h1 {
                font-size: 1em;
            }

            P {
                font-size: .9em;
            }
        }

        &__commentOn {
            label {
                font-size: 1em;
            }
        }

        &__options {
            justify-content: space-around;

            label {
                font-size: 1em;
            }
        }


        &__inputComment {
            textarea {
                width: 100%;
                font-size: .9em;
            }
        }

        &__submitClearButtons {}
    }
}

@media only screen and (max-width:700px) {
    .mainBodyFeedback {
        &__contactInfo {
            flex-direction: column;
            width: 100%;

            &__left {

                &__name,
                &__telephone {
                    flex-direction: column;
                    width: 100%;

                    label {
                        width: 100%;
                        margin-top: 5px;
                    }

                    input {
                        margin-top: 5px;
                        width: 100%;
                        margin-right: 0px;
                    }
                }
            }

            &__right {

                &__email,
                &__fax {
                    flex-direction: column;
                    width: 100%;

                    label {
                        width: 100%;
                        margin-top: 5px;
                    }

                    input {
                        margin-top: 5px;
                        width: 100%;
                        margin-right: 0px;
                    }
                }
            }
        }

        input[type=checkbox] {
            transform: scale(1);
        }

        &__commentOn {
            display: flex;
            flex-direction: column;

            select {
                margin-right: 0px;
            }

            label {
                margin-top: 10px;
                margin-right: 0px;
                text-transform: lowercase;
                font-weight: bold;

                &::before {
                    content:
                        'If ';
                    text-transform: capitalize;

                }
            }

            input {
                margin-top: 10px;
                margin-right: 0px;
            }
        }

        &__options {
            width: 100%;

            input[type=radio] {
                margin-right: 10px;
            }

            label {
                margin-right: 0px;
            }
        }

        &__submitClearButtons {
            margin-left: auto;
            margin-right: auto;
            width: 65%;
            display: flex;
            justify-content: space-around;
        }
    }
}

@media only screen and (max-width:550px) {
    .mainBodyFeedback {
        &__feedbackTitle {
            padding: 0px 2.5% 0px 2.5%;

            h1 {
                text-align: center;
            }

            hr {
                margin-left: auto;
                margin-right: auto;
            }
        }

        form {
            padding: 0px 2.5% 0px 2.5%;

            h1 {
                font-size: .85em;
                text-align: center;
            }

            p {
                font-size: .8em;
            }
        }

        &__contactInfo {

            label {
                font-size: .9em;
            }
        }

        .urgentMessage {
            font-size: .9em;
            margin-left: 10px;
            line-height: 2;
            text-align: center;
            margin: auto;
        }

        .choiceText {
            margin-top: 25px;
            margin-bottom: 15px;
        }

        &__options {
            display: flex;
            flex-direction: column;

            &__clump {
                margin-top: 10px;
            }

            input[type=radio] {
                margin-right: 10px;
            }
        }

        &__inputComment {
            textarea {
                height: 180px;
            }
        }

        &__submitClearButtons {
            width: 100%;

            input {
                padding: 13px 15px 13px 15px;
            }

            input[type=submit] {
                font-size: .9em;
                margin-right: 0px;
            }

            input[type=reset] {
                font-size: .9em;
            }
        }
    }
}

@media only screen and (max-width:375px) {
    .mainBodyFeedback {
        &__feedbackTitle {
            margin-top: 30px;

            h1 {
                font-size: 1.2em;
            }

            hr {
                width: 225px;
            }
        }

        &__submitClearButtons {
            width: 100%;
            display: flex;
            flex-direction: column;

            input {
                padding: 13px 15px 13px 15px;
            }

            input[type=submit] {
                font-size: .9em;
                margin-right: 0px;
                margin-bottom: 20px;
            }

            input[type=reset] {
                font-size: .9em;
            }
        }
    }
}