.header {
    width: 100%;
    box-sizing: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    font-size: 16px;
    position: relative;
    background-color: $white;
    z-index: 5;

    p {
        margin-bottom: 0px;
    }

    &__phoneStrip {
        width: 100%;
        background-color: $darkBlueGreen;
        padding: 12px 0px 12px 0px;

        &__holder {
            width: 85%;
            max-width: 1920px;
            margin: auto;

            &__info {
                font-size: 1em;
                font-weight: bold;
                color: $white;
            }
        }
    }

    &__logoCompany {
        background-color: $white;
        width: 100%;
        padding: 17px 0px 17px 0px;

        &__holder {
            width: 85%;
            max-width: 1920px;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__imageText {
                display: flex;
                align-items: center;
                justify-content: start;

                img {
                    margin-right: 25px;
                    width: 100px;
                }

                p {
                    margin-bottom: 0px;
                    font-size: 1.2em;
                    font-weight: bold;
                }
            }

            &__pageSearch {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50px;
                border: #707070 solid 2px;
                height: 30px;
                transition: all .5s;

                input {
                    width: 225px;
                    padding: 5px;
                    border-radius: 50px 0px 0px 50px;
                    border: none;
                }

                img {
                    margin-right: 15px;
                }

                img:hover {
                    cursor: pointer;
                }
            }

            &__pageSearch:hover {
                border-color: $green;
            }
        }
    }

    &__nav {
        width: 100%;
        background-color: $green;
        font-size: 1em;

        &__holder {
            color: $white;
            width: 85%;
            max-width: 1920px;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;

            ul {
                display: flex;
                align-items: center;

                span {
                    font-size: 1.5em;
                }

                a {
                    padding: 9px 17px 9px 17px;
                    text-decoration: none;
                    color: $white;
                    position: relative;
                    z-index: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                a:after,
                a:before {
                    transition: all .5s;
                }

                a:after {
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: 0%;
                    content: '';
                    color: transparent;
                    background-color: $gold;
                    height: 4px;
                    position: absolute;
                }

                a:hover:after {
                    width: 100%;
                }
            }
        }
    }

    &__mobile {
        display: none;
    }

}

.mobNav {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    width: 100%;
    height: calc(100vh - 120px);
    top: -100vh;
    background-color: $white;
    z-index: 4;
    transition: top .8s ease-in-out;
}

@media only screen and (max-width: 1650px) {
    .header {
        &__phoneStrip {
            &__holder {
                &__info {
                    font-size: .9em;
                }
            }
        }

        &__logoCompany {
            &__holder {
                &__imageText {
                    img {
                        width: 90px;
                        margin-right: 18px;
                    }

                    p {
                        font-size: 1.1em;
                    }

                }
            }
        }

        &__nav {
            &__holder {
                ul {
                    span {
                        font-size: 1.4em;
                    }

                    a {
                        font-size: 1em;
                        line-height: 1;
                        vertical-align: middle;
                        display: inline-block;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1480px) {
    .header {
        &__phoneStrip {
            &__holder {
                &__info {
                    padding-left: 0px;
                    padding-right: 0px;
                    font-size: .9em;
                }
            }
        }

        &__logoCompany {
            &__holder {
                &__imageText {
                    img {
                        width: 90px;
                        margin-right: 18px;
                    }

                    p {
                        font-size: 1.1em;
                    }

                }
            }
        }

        &__nav {
            &__holder {
                ul {
                    span {
                        font-size: 1.4em;
                    }

                    a {
                        font-size: 1em;
                        line-height: 1;
                        vertical-align: middle;
                        display: inline-block;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1280px) {
    .header {
        &__phoneStrip {
            &__holder {
                width: 92.5%;

                &__info {
                    font-size: .8em;
                }
            }
        }

        &__logoCompany {
            &__holder {
                width: 92.5%;

                &__imageText {
                    img {
                        width: 75px;
                        margin-right: 18px;
                    }

                    p {
                        font-size: 1em;
                    }

                }
            }
        }

        &__nav {
            &__holder {
                width: 92.5%;

                ul {
                    span {
                        font-size: 1em;
                    }

                    a {
                        font-size: .8em;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1100px) {
    .header {
        &__phoneStrip {
            padding-top: 8px;
            padding-bottom: 8px;

            &__holder {
                width: 92.5%;

                &__info {
                    font-size: .8em;
                }
            }
        }

        &__logoCompany {
            padding-top: 13px;
            padding-bottom: 13px;

            &__holder {
                width: 92.5%;

                &__imageText {
                    img {
                        width: 75px;
                        margin-right: 18px;
                    }

                    p {
                        font-size: 1em;
                    }

                }
            }
        }

        &__nav {
            &__holder {
                width: 92.5%;

                ul {
                    span {
                        font-size: 1em;
                    }

                    a {
                        font-size: .8em;
                        padding: 8px 15px 9px 15px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 930px) {
    .header {
        padding: 15px 0px 15px 0px;
        border-bottom: 5px solid $green;

        &__phoneStrip {
            display: none;
        }

        &__logoCompany {
            display: none;
        }

        &__nav {
            display: none;
        }

        &__mobile {
            display: flex;
            align-items: center;
            position: relative;
            background-color: $white;

            button {
                color: $gray;
                position: absolute;
                width: 40px;
                height: 50px;
                padding: 0px;
                margin-left: 2.5%;

                .hamburger-inner,
                .hamburger-inner::before,
                .hamburger-inner::after {
                    color: $gray;
                    width: 35px;
                }
            }

            h1 {
                margin: auto;
                text-align: center;
                padding: 0%;
                font-size: 1.625em;
            }
        }
    }

    .mobNav {
        display: flex;
        font-size: 16px;

        &__welcome {
            width: 100%;
            background-color: $lighterGray;
            border-bottom: $gray solid 5px;

            h1 {
                margin-bottom: 0px;
                padding: 15px 0px 15px 2.5%;
                font-size: 1.5em;
            }
        }

        &__options {
            width: 100%;

            ul {
                width: 100%;

                a {
                    width: 100%;
                    color: $gray;
                    display: inline-block;
                    margin: 10px 0px 10px 2.5%;
                    font-size: 1.2em;
                    text-decoration: none;
                    font-weight: bold;

                    &::after {
                        content: ">";
                        position: absolute;
                        right: 20px;
                        font-size: 1.1667em;
                    }
                }

                hr {
                    height: 4px;
                    background-color: $green;
                    border: none;
                }
            }
        }

        &__footers {
            display: flex;
            width: 100%;
            position: absolute;
            bottom: 0;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            a {
                img {
                    width: 36px;
                    margin-bottom: 8px;
                }
            }

            hr {
                width: 100%;
                border: none;
                height: 3px;
                background-color: $green;
            }

            &__company {
                width: 100%;
                display: flex;
                justify-content: center;
                padding: 20px 0px 20px 0px;

                img {
                    width: 55px;
                    height: 28px;
                }

                h1 {
                    color: black;
                    font-size: 1em;
                    margin-left: 15px;
                    margin-bottom: 0px;
                    line-height: 28px;
                }
            }
        }
    }
}

@media only screen and (max-width: 750px) {
    .header {
        &__mobile {
            button {}

            h1 {
                font-size: 1.5em;
            }
        }
    }

    .mobNav {}
}

@media only screen and (max-width: 600px) {
    .header {
        &__mobile {
            button {
                height: 30px;

                .hamburger-inner,
                .hamburger-inner::before,
                .hamburger-inner::after {
                    color: $gray;
                    width: 32.5px;
                }
            }

            h1 {
                font-size: 1.25em;
            }
        }
    }
}

@media only screen and (max-width: 550px) {}

@media only screen and (max-width: 500px) {}

@media only screen and (max-width: 450px) {}

@media only screen and (max-width: 400px) {
    .header {
        &__mobile {
            button {
                height: 25px;

                .hamburger-inner,
                .hamburger-inner::before,
                .hamburger-inner::after {
                    color: $gray;
                    width: 28.5px;
                }
            }

            h1 {
                font-size: 1.1em;
            }
        }
    }
}

@media only screen and (max-width: 350px) {
    .header {
        &__mobile {
            button {
                height: 25px;

                .hamburger-inner,
                .hamburger-inner::before,
                .hamburger-inner::after {
                    color: $gray;
                    width: 28.5px;
                }
            }

            h1 {
                font-size: .9em;
            }
        }
    }

    .mobNav {
        &__welcome {
            h1 {
                padding: 10px 0px 10px 2.5%;
                font-size: 1.25em;
            }
        }

        &__options {
            ul {
                a {
                    margin: 8px 0px 8px 2.5%;
                    font-size: 1em;

                    &::after {
                        font-size: 1.1em;
                    }
                }
            }
        }

        &__footers {
            a {
                img {}
            }

            &__company {
                img {
                    width: 50px;
                    height: 24px;
                }

                h1 {
                    font-size: .85em;
                    margin-left: 15px;
                    margin-bottom: 0px;
                    line-height: 28px;
                }
            }
        }
    }
}

@media only screen and (max-width:280px) {
    .header {
        &__mobile {
            button {

                .hamburger-inner,
                .hamburger-inner::before,
                .hamburger-inner::after {
                    color: $gray;
                    width: 28.5px;
                }
            }

            h1 {
                font-size: .8em;
            }
        }
    }
}