.mainBodyWork {
    width: 100%;
    position: relative;
    z-index: 0;
    color: $gray;
    font-size: 16px;

    &__main {
        width: 85%;
        margin: auto;
        max-width: 1920px;

        &__header {
            margin-top: 50px;

            h1 {
                font-size: 1.75em;
                margin-bottom: 0px;
            }

            hr {
                width: 165px;
                height: 3px;
                background-color: $green;
                border: none;
            }
        }

        &__holder {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-top: 50px;

            &__row1,
            &__row2,
            &__row3,
            &__row4 {
                width: 25%;
                display: flex;
                flex-direction: column;
                align-items: center;
                min-height: 50px;

                &__workDone {

                    &__entry {
                        width: 100%;
                        max-width: 300px;
                        display: flex;
                        flex-direction: column;
                        border-radius: 10px;
                        transition: all .8s;
                        margin: 15px auto 10px auto;

                        &__image {
                            width: 100%;
                            object-fit: cover;
                            background-color: rgb(0, 0, 0);
                            border-radius: 10px 10px 0px 0px;

                            img {
                                height: 150px;
                                object-fit: cover;
                                display: block;
                                margin: auto;
                            }

                            .thumbnail {
                                border-radius: 10px 10px 0px 0px;
                                width: 100%;
                            }
                        }

                        &__description {
                            padding: 10px;

                            h1,
                            p {
                                margin-bottom: 8px;
                            }

                            h1 {
                                font-size: 1em;
                            }

                            p {
                                font-size: .8em;
                            }
                        }

                        &:hover {
                            transform: scale(1.1);
                            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    &__reviews {
        width: 85%;
        margin: auto auto 50px auto;
        max-width: 1920px;

        &__header {
            margin-top: 50px;

            h1 {
                font-size: 1.75em;
                margin-bottom: 0px;
            }

            hr {
                width: 320px;
                height: 3px;
                background-color: $green;
                border: none;
            }
        }

        &__googleReviewGrid {
            width: 100%;
            padding: 0px 10px 30px 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &__individualReview {
                margin: 40px auto 0px auto;
                padding: 20px;
                width: 95%;
                border: $gray 1px solid;

                &__nameScore {
                    display: flex;
                    align-items: center;

                    h2 {
                        margin-bottom: 0px;
                        margin-right: 30px;
                        font-size: 1em;
                    }

                    .checked {
                        color: orange;
                    }
                }

                &__comment {
                    padding: 15px 15px 0px 0px;

                    p {
                        margin-bottom: 0px;
                    }
                }
            }

            #more {
                width: 100%;
                margin: auto;
                display: none;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

        }

        button {
            border: 2px $green solid;
            background-color: $white;
            text-decoration: none;
            padding: 10px;
            color: black;
            position: relative;
            z-index: 1;
            transition: all .8s ease-in-out;

            &:hover {
                cursor: pointer;
            }
        }

        &__button {
            width: 95%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            max-width: 1920px;

        }
    }
}

@media only screen and (max-width: 1600px) {
    .mainBodyWork {
        &__main {
            &__header {}

            &__holder {

                &__row1,
                &__row2,
                &__row3,
                &__row4 {
                    &__workDone {
                        &__entry {
                            max-width: 275px;

                            &__image {}

                            &__description {}

                            &:hover {}
                        }
                    }
                }
            }
        }

        &__reviews {
            &__header {}

            &__googleReviewGrid {}

            button {}

            &__button {}
        }
    }

}

@media only screen and (max-width: 1425px) {
    .mainBodyWork {
        &__main {
            &__header {}

            &__holder {

                &__row1,
                &__row2,
                &__row3,
                &__row4 {
                    &__workDone {
                        &__entry {
                            max-width: 265px;

                            &__image {
                                img {
                                    height: 125px;
                                }
                            }

                            &__description {
                                padding: 8px;

                                h1 {
                                    font-size: .85em;
                                }

                                p {
                                    font-size: .7em;
                                }
                            }

                            &:hover {}
                        }
                    }
                }
            }
        }

        &__reviews {
            &__header {}

            &__googleReviewGrid {}

            button {}

            &__button {}
        }
    }
}

@media only screen and (max-width: 1350px) {
    .mainBodyWork {
        &__main {
            &__header {
                h1 {
                    font-size: 1.65em;
                }

                hr {
                    width: 150px;
                }
            }

            &__holder {

                &__row1,
                &__row2,
                &__row3,
                &__row4 {
                    &__workDone {
                        &__entry {
                            max-width: 250px;

                            &__image {
                                img {
                                    height: 120px;
                                }
                            }

                            &__description {
                                padding: 8px;

                                h1,
                                p {
                                    margin-bottom: 5px;
                                }

                                h1 {
                                    font-size: .85em;
                                }

                                p {
                                    font-size: .7em;
                                }
                            }

                            &:hover {}
                        }
                    }
                }
            }
        }

        &__reviews {
            &__header {
                h1 {
                    font-size: 1.65em;
                }

                hr {
                    width: 300px;
                }
            }

            &__googleReviewGrid {
                &__individualReview {
                    padding: 18px;
                }
            }

            button {}

            &__button {}
        }
    }
}

@media only screen and (max-width: 1280px) {
    .mainBodyWork {
        &__main {
            width: 100%;
            padding: 0px 5% 0px 5%;

            &__header {
                h1 {
                    font-size: 1.55em;
                }

                hr {
                    width: 140px;
                }
            }

            &__holder {
                padding-top: 25px;

                &__row1,
                &__row2,
                &__row3,
                &__row4 {
                    &__workDone {
                        &__entry {
                            max-width: 225px;

                            &__image {
                                img {
                                    height: 115px;
                                }
                            }

                            &__description {
                                h1 {
                                    font-size: .8em;
                                }

                                p {}
                            }
                        }
                    }
                }
            }
        }

        &__reviews {
            width: 100%;
            padding: 0px 5% 0px 5%;

            &__header {
                margin-top: 25px;

                h1 {
                    font-size: 1.55em;
                }

                hr {
                    width: 275px;
                }
            }

            &__googleReviewGrid {
                &__individualReview {
                    width: 98.5%;

                    &__nameScore {
                        h2 {}

                        .checked {}

                        span {
                            font-size: 1em;
                        }
                    }

                    &__comment {
                        padding: 12.5px 12.5px 0px 0px;

                        p {
                            font-size: .9em;
                        }
                    }
                }

                #more {}
            }

            button {}

            &__button {}
        }
    }
}

@media only screen and (max-width: 1100px) {
    .mainBodyWork {
        &__main {
            &__header {}

            &__holder {

                &__row1,
                &__row2,
                &__row3,
                &__row4 {
                    &__workDone {
                        &__entry {
                            max-width: 215px;

                            &__image {
                                img {
                                    height: 100px;
                                }
                            }

                            &__description {
                                h1 {
                                    font-size: .75em;
                                }

                                p {}
                            }
                        }
                    }
                }
            }
        }

        &__reviews {
            &__header {}

            &__googleReviewGrid {}

            button {}

            &__button {}
        }
    }
}

@media only screen and (max-width: 1000px) {
    .mainBodyWork {
        &__main {
            &__header {}

            &__holder {

                &__row1,
                &__row2,
                &__row3,
                &__row4 {
                    &__workDone {
                        &__entry {
                            max-width: 200px;

                            &__image {
                                img {
                                    height: 100px;
                                }
                            }

                            &__description {
                                h1 {
                                    font-size: .75em;
                                }

                                p {}
                            }
                        }
                    }
                }
            }
        }

        &__reviews {
            &__header {}

            &__googleReviewGrid {}

            button {}

            &__button {}
        }
    }
}


@media only screen and (max-width: 930px) {
    .mainBodyWork {
        width: 100%;

        &__main {
            width: 100%;
            margin: 0px;


            &__header {}

            &__holder {
                justify-content: space-around;

                &__row1,
                &__row2,
                &__row3,
                &__row4 {
                    width: 48.5%;

                    &__workDone {
                        &__entry {
                            max-width: 300px;

                            &__image {
                                img {
                                    height: 150px;
                                }
                            }
                        }
                    }
                }
            }
        }

        &__reviews {
            width: 100%;

            &__header {
                margin-top: 20px;
            }
        }
    }

}

@media only screen and (max-width: 800px) {
    .mainBodyWork {
        &__main {
            &__header {
                margin-top: 25px;
            }

            &__holder {

                &__row1,
                &__row2,
                &__row3,
                &__row4 {

                    &__workDone {
                        &__entry {
                            max-width: 280px;

                            &__image {
                                img {
                                    height: 140px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    .mainBodyWork {
        &__main {
            width: 100%;

            &__header {}

            &__holder {

                &__row1,
                &__row2,
                &__row3,
                &__row4 {
                    width: 49%;

                    &__workDone {
                        &__entry {
                            max-width: 275px;

                            &__image {
                                img {
                                    height: 135px;
                                }
                            }

                            &__description {}
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .mainBodyWork {
        &__main {


            &__header {}

            &__holder {

                &__row1,
                &__row2,
                &__row3,
                &__row4 {


                    &__workDone {
                        &__entry {
                            max-width: 225px;

                            &__image {
                                img {
                                    height: 115px;
                                }
                            }

                            &__description {}
                        }
                    }
                }
            }
        }

        &__reviews {
            &__header {
                h1 {}

                hr {}
            }

            &__googleReviewGrid {
                &__individualReview {
                    &__nameScore {
                        h2 {
                            font-size: .9em;
                        }

                        .checked {}

                        span {
                            font-size: .9em;
                        }
                    }

                    &__comment {
                        p {
                            font-size: .75em;
                        }
                    }
                }

                #more {}
            }

            button {
                font-size: .75em;
                padding: 7px;
            }

            &__button {
                p {
                    font-size: .75em;
                }
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .mainBodyWork {
        &__main {
            &__header {
                h1 {
                    text-align: center;
                    font-size: 1.25em;
                }

                hr {
                    margin-left: auto;
                    margin-right: auto;
                    width: 110px;
                }
            }

            &__holder {

                &__row1,
                &__row2,
                &__row3,
                &__row4 {
                    width: 100%;

                    &__workDone {
                        &__entry {
                            max-width: 275px;

                            &__image {
                                img {
                                    height: 140px;
                                }
                            }

                            &__description {
                                h1 {
                                    font-size: .85em;
                                }

                                p {}
                            }
                        }
                    }
                }
            }
        }

        &__reviews {
            &__header {
                margin-top: 25px;

                h1 {
                    text-align: center;
                    font-size: 1.25em;
                }

                hr {
                    margin-left: auto;
                    margin-right: auto;
                    width: 230px;
                }
            }

            &__googleReviewGrid {
                padding-left: 0px;
                padding-right: 0px;

                &__individualReview {
                    width: 100%;

                    &__nameScore {
                        h2 {}

                        .checked {}

                        span {}
                    }

                    &__comment {}
                }

                #more {}
            }

            button {
                width: 100%;
            }

            &__button {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                p {
                    margin-top: 15px;
                }
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    .mainBodyWork {
        &__main {}

        &__reviews {
            &__header {}

            &__googleReviewGrid {}

            button {}

            &__button {}
        }
    }
}

@media only screen and (max-width: 350px) {
    .mainBodyWork {
        &__main {
            &__holder {

                &__row1,
                &__row2,
                &__row3,
                &__row4 {
                    &__workDone {
                        &__entry {
                            max-width: 260px;

                            &__image {
                                img {
                                    height: 130px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}