.mainBodyContact {
    width: 100%;
    position: relative;
    z-index: 0;
    font-size: 16px;
    color: $gray;

    &__contactTitle {
        width: 70%;
        max-width: 1920px;
        margin: 45px auto 0px auto;

        h1 {
            font-weight: bold;
            margin-bottom: 0px;
            font-size: 1.75em;
        }

        hr {
            margin-top: 5px;
            background-color: $green;
            border: none;
            width: 220px;
            height: 3px;
        }

        p {
            font-size: 1.25em;
        }
    }

    &__mailAddy {
        display: flex;
        justify-content: space-between;
        min-width: 1000px;
        width: 70%;
        margin: auto;
        padding-top: 70px;
        max-width: 1920px;

        &__poBox,
        &__address {
            padding: 19px 83px 19px 83px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: $gray 3px solid;
            text-align: center;
            transition: all .8s ease-in-out;

            img {
                margin-bottom: 10px;
            }

            &:hover {
                transform: scale(1.05);
                border: $green 3px solid;
                box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
            }
        }
    }

    &__phoneFax {
        min-width: 720px;
        max-width: 1920px;
        width: 45%;
        margin: auto;
        padding-top: 70px;
        padding-bottom: 70px;

        &__info {
            width: 100%;
            border: $gray 3px solid;
            display: flex;
            transition: all .8s ease-in-out;
            padding: 23px;
            justify-content: center;

            img {
                margin-right: 40px;
                width: 96px;
                height: 96px;
            }

            &__split {
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                &__top {
                    display: flex;
                    align-items: center;

                    h1 {
                        width: 125px;
                        margin-bottom: 0px;
                        font-size: 1.75em;
                    }

                    p {
                        font-size: 1.25em;
                        margin-bottom: 0px;
                    }
                }

                &__bottom {
                    display: flex;
                    align-items: center;

                    h1 {
                        width: 125px;
                        margin-bottom: 0px;
                        font-size: 1.75em;
                    }

                    p {
                        font-size: 1.25em;
                        margin-bottom: 0px;
                    }
                }
            }

            &:hover {
                transform: scale(1.03);
                border: $green 3px solid;
                box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
            }

        }

    }

    &__emails {
        width: 70%;
        max-width: 1920px;
        margin: auto;
        min-width: 550px;
        padding: 30px 0px 120px 0px;

        &__info {
            h1 {
                margin-bottom: 0px;
            }

            hr {
                height: 4px;
                border: none;
                background-color: $gray;
            }

            &__table {
                &__row {
                    display: flex;
                    justify-content: space-between;
                    height: 75px;
                    padding: 9px 20px 9px 20px;
                    background-color: #F2EFEF;

                    &__columnName {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        h1 {
                            margin-bottom: 0px;
                            font-size: 1.5em;
                        }

                        p {
                            margin-bottom: 0px;
                            font-size: 1.125em;
                        }
                    }

                    &__emails {
                        display: flex;
                        align-items: flex-end;
                        flex-direction: column;
                        justify-content: flex-end;

                        p {
                            margin-bottom: 0px;
                            font-size: 20px;
                        }
                    }
                }

                &__row:nth-child(even) {
                    background-color: $white;
                }
            }
        }
    }
}

@media only screen and (max-width: 1600px) {
    .mainBodyContact {
        &__contactTitle {
            width: 80%;
        }

        &__mailAddy {
            width: 80%;
        }

        &__phoneFax {
            width: 55%;
        }

        &__emails {
            width: 80%;
        }
    }
}

@media only screen and (max-width: 1450px) {
    .mainBodyContact {
        &__contactTitle {
            width: 80%;
        }

        &__mailAddy {
            width: 80%;

            &__poBox,
            &__address {
                padding: 17.5px 81px 17.5px 81px;

                img {
                    width: 80px;
                }

                h1 {
                    font-size: 1.75em;
                }

                p {
                    font-size: .95em;
                }
            }
        }

        &__phoneFax {
            width: 65%;
            padding-bottom: 55px;

            &__info {
                padding: 20px;

                img {
                    width: 80px;
                    height: 80px;
                }

                &__split {

                    &__top,
                    &__bottom {
                        h1 {
                            font-size: 1.2em;
                        }

                        p {
                            font-size: 1.2em;
                        }
                    }
                }
            }
        }

        &__emails {
            width: 80%;
            padding-bottom: 100px;

            &__info {
                h1 {
                    font-size: 1.75em;
                }

                hr {}

                &__table {
                    &__row {
                        &__columnName {
                            h1 {
                                font-size: 1.3em;
                            }

                            p {
                                font-size: 1.115em;
                            }
                        }

                        &__emails {
                            p {
                                font-size: 1.15em;
                            }
                        }

                        &:nth-child(even) {}
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1280px) {
    .mainBodyContact {
        &__contactTitle {
            width: 92.5%;
        }

        &__mailAddy {
            width: 92.5%;
        }

        &__phoneFax {
            width: 75%;
        }

        &__emails {
            width: 92.5%;
        }
    }
}

@media only screen and (max-width: 1175px) {
    .mainBodyContact {
        &__contactTitle {
            h1 {
                font-size: 1.5em;
            }

            hr {
                width: 190px;
            }

            p {}
        }

        &__mailAddy {
            justify-content: space-around;
            min-width: 0px;

            &__poBox,
            &__address {
                img {
                    width: 70px;
                }

                h1 {
                    font-size: 1.5em;
                }

                p {
                    font-size: .8em;
                }
            }
        }

        &__phoneFax {
            &__info {
                padding: 20px;

                img {
                    width: 70px;
                    height: 70px;
                }

                &__split {

                    &__top,
                    &__bottom {
                        h1 {
                            font-size: 1em;
                        }

                        p {
                            font-size: 1em;
                        }
                    }
                }
            }
        }

        &__emails {
            padding-bottom: 70px;

            &__info {
                h1 {
                    font-size: 1.60em;
                }

                &__table {
                    &__row {
                        &__columnName {
                            h1 {
                                font-size: 1.15em;
                            }

                            p {
                                font-size: 1.05em;
                            }
                        }

                        &__emails {

                            p {
                                font-size: 1.05em;
                            }
                        }

                        &:nth-child(even) {}
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 930px) {
    .mainBodyContact {
        width: 100%;

        &__contactTitle {
            width: 100%;
            margin: 50px 5% 0px 5%;

            h1 {
                font-weight: bold;
                margin-bottom: 0px;
                font-size: 1.75em;
            }

            p {
                font-size: 1.25em;
            }
        }

        &__mailAddy {
            min-width: 0px;
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-top: 50px;

            &__poBox,
            &__address {
                margin: 0px auto 75px auto;
                padding: 19px 75px 19px 75px;
                width: 500px;

                img {
                    width: 64px;
                    margin-bottom: 10px;
                }

                &:hover {
                    transform: none;
                    box-shadow: none;
                }

                h1 {
                    font-size: 1.5625em;
                }

                p {
                    font-size: .875em;
                }
            }
        }

        &__phoneFax {
            min-width: 0px;
            width: 500px;
            margin: auto;
            padding-bottom: 50px;
            padding-top: 0px;

            &__info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                img {
                    margin: 0px auto 10px auto;
                    width: 64px;
                    height: 64px;
                }

                &__split {

                    &__top,
                    &__bottom {
                        margin: 0px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        h1 {
                            width: auto;
                            font-size: 1.375em;
                        }

                        p {
                            font-size: .875em;
                        }
                    }
                }
            }
        }

        &__emails {
            min-width: none;
            width: 100%;


            &__info {
                margin: 0px 5% 0px 5%;

                h1 {
                    font-size: 1.625em;
                }

                &__table {
                    &__row {
                        &__columnName {
                            h1 {
                                font-size: 1.375em;
                            }

                            p {
                                font-size: 1em;
                            }
                        }

                        &__emails {
                            p {
                                font-size: 1.125em;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    .mainBodyContact {
        &__contactTitle {
            margin: 30px 2.5% 0px 2.5%;
        }

        &__mailAddy {
            padding-top: 40px;

            &__poBox,
            &__address {
                width: 400px;

                img {
                    width: 55px;
                }

                h1 {
                    font-size: 1.25em;
                }

                p {
                    font-size: .7em;
                }
            }
        }

        &__phoneFax {
            width: 400px;

            &__info {
                img {
                    width: 55px;
                    height: 55px;
                }

                &__split {

                    &__top,
                    &__bottom {
                        h1 {

                            font-size: 1.25em;
                        }

                        p {
                            font-size: .7em;
                        }
                    }
                }
            }
        }

        &__emails {
            min-width: 0px;

            &__info {

                h1 {
                    font-size: 1.5em;
                }

                &__table {
                    &__row {
                        height: 65px;

                        &__columnName {
                            h1 {
                                font-size: 1.2em;
                            }

                            p {
                                font-size: 1em;
                            }
                        }

                        &__emails {
                            p {
                                font-size: 1em;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .mainBodyContact {
        &__contactTitle {
            h1 {
                font-size: 1.5em;
            }

            hr {
                width: 175px;
            }
        }

        &__mailAddy {
            width: 100%;

            &__poBox,
            &__address {
                width: auto;
                margin-left: 2.5%;
                margin-right: 2.5%;
            }
        }

        &__phoneFax {
            width: auto;
            margin-left: 2.5%;
            margin-right: 2.5%;
        }

        &__emails {
            &__info {
                margin: 0px 2.5% 0px 2.5%;
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    .mainBodyContact {
        &__contactTitle {}

        &__mailAddy {

            &__poBox,
            &__address {
                margin-bottom: 50px;
                padding-top: 15px;
                padding-bottom: 15px;

                img,
                h1,
                p {
                    margin-bottom: 8px;
                }
            }
        }

        &__phoneFax {}

        &__emails {
            &__info {

                h1 {
                    font-size: 1.25em;
                }

                &__table {
                    &__row {
                        height: 55px;

                        &__columnName {
                            h1 {
                                font-size: 1em;
                            }

                            p {
                                font-size: .9em;
                            }
                        }

                        &__emails {
                            p {
                                font-size: .9em;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 350px) {
    .mainBodyContact {
        &__emails {
            &__info {

                h1 {
                    font-size: 1.20em;
                }

                &__table {
                    &__row {
                        height: 55px;

                        &__columnName {
                            h1 {
                                font-size: .9em;
                            }

                            p {
                                font-size: .8em;
                            }
                        }

                        &__emails {
                            p {
                                font-size: .8em;
                            }
                        }
                    }
                }
            }
        }
    }
}